.style{
    width: 100%;
    height: 500px;
    background-color: rgb(205, 255, 230);

}

.tittle{
    text-align: center;
    color:rgb(77, 99, 81);
    font-family: 'Times New Roman', Times, serif;
}

