.formStyle{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.textFieldStyle{
    align-items: center;
}



.buttonForm{
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
    width: 125px;
    color: white;
    background-color: rgb(77, 74, 74);
    border-style: solid;

}